h1{
    color: lightgrey;
    text-align: center;
}

div.sample {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

#main {
    margin-top: 5em;
}

body {
    font-family: sans-serif;
}