{% extends "base.html" %}
{% block main %}
<h1>Edit author: {{ author.name }}</h1>
<form method="POST" action="#" role="form">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.name.label }}{{ form.name(size=50, class_="form-control") }}
    </div>
    
    <input type="submit" class="btn btn_submit" value="Enregistrer">
</form>
{% endblock %}