{% extends "base.html" %}
{% block main %}
<h1>Edit author: {{ author.name }}</h1>
<form method="POST" action="{{ url_for('save_author') }}" role="form">
    {{ form.hidden_tag() }}
    <div class={% if form.name.errors %}
    "form-group has-error"
    {% else %}
    "form-group"
    {% endif %}
    >

    </div>
    <div class="form-group">
        {{ form.name.label }}{{ form.name(size=50, class_="form-control") }}
    </div>
    {% if form.name.errors %}
    <ul class="list-group">
        {% for e in form.name.errors %}
        <li class="list-group-item list-group-item-danger">{{ e }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <input type="submit" class="btn btn_submit" value="Enregistrer">
</form>
{% endblock %}