{% extends "base.html" %}
{% block main %}
        {% for x in books %}
        <div class="sample">
            <img src="{{ url_for('static', filename='Images/'+x.img)  }}" alt="Image de {{ x.title }}">
            {{ x.title }} écrit par {{ x.author }} au prix de {{ x.price }}€
        </div>
        {% endfor %}
    </div>
{% endblock %}